@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr; // 3 COLUNAS
        gap: 24px; // MESMA COISA QUE "grid-gap:"
        margin-top: 44px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
        }

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                max-width: 100%;
                border-radius: 4px;
                color: #fff; //! EXCLUIR DEPOIS
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        @media (max-width: 768px) {
            white-space: nowrap; // PARA FORÇAR O TEXTO A FICAR EM UMA LINHA SÓ
            overflow-x: scroll; // PARA TER O EFEITO DE SCROLL, JÁ QUE OS ELEMENTOS VÃO PASSAR DA BORDA
            padding-left: 48px;
        }

        &__button {
            color: variaveis.$corTextoSecundario;
            background: none;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;

            &--is-active {
                border-color: variaveis.$corTextoSecundario;
            }

            @media (max-width: 768px) {
                font-size: 16px;
                padding: 8px;
            }
        }
    }
}