@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@use "sass:color";

@font-face { // PARA INSERIR UM ARQUIVO DE FONTE EXTERNA
    font-family: Avenir; // NOME
    src: url(../../assets/fonts/Avenir-Regular.woff2); // ARQUIVO
    font-weight: 400; // NEGRITO
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body { // NÃO SE APLICA A input E button
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 28px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario
}

.text--big {
    @include text(18px);  // PARA INCLUIR O MIXIN
}

.text {
    @include text; // VAI FICAR OS 16px PADRAO
}

.text--small {
    @include text(12px); 
}

.link-text { 
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px); 
}

.title {
    @include title; 
}

.title--small {
    @include title(28px); 
}

.button {
    display: flex; // PARA ALINHAR O TEXTO AO CENTRO DO:
    align-items: center; // EIXO Y
    justify-content: center; // E EIXO X
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px; // ESPAÇAMENTO DE LETRA
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;

    &:hover {
        background-color: color.adjust(variaveis.$corDeFundoBotaoPrimario, $lightness: 3%)
    }

    &--secondary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;
    }

    &--dark {
        background-color: rgba(variaveis.$corDeFundoBotaoDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}

.img-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    img {
        max-width: 100%; // PARA OCUPAR TODO O ESPAÇAMENTO DA COLUNA E SOMENTE ESSE ESPAÇAMENTO, NÃO A MAIS
    }

    &--text-container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--img-full-width { // SEÇÃO DO REI LEÃO
        display: block;
        position: relative; // PARA PRENDER O "position: absolute" DENTRO DELE

        img {
            width: 100%;
        }

        &--text-container {
            position: absolute;
            top: 0;
            left: 50%; // PARA O ELEMENTO IR PARA A DIREITA
            height: 100%;
            width: calc(50% - 5.6vw); // 50% - padding: 5.6vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}